<div class="row justify-content-md-center h-100">
  <div class="col-md-6 col-sm-12">
    <app-logo></app-logo>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="w-50 mx-auto"
    >
      <h3>Login</h3>
      <div class="mb-3 from-group">
        <label for="email" class="form-label">{{ emailText }}</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="userLoginEmail"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3 from-group">
        <label for="password" class="form-label">{{ PasswordText }}</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="userPasswordLogin"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-md btn-block Login__btn--signup"
      >
        login
      </button>
    </form>
  </div>
  <div class="d-none d-sm-block col-md-6 col-sm-12 bg-dark">
    Extra content
  </div>
</div>
