<div class="row justify-content-md-center Login">
  <app-logo></app-logo>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="border rounded-lg p-5 shadow row  Login__custom Login__custom--50 Login__custom--padding-b-50 Login__custom--margin-bottom-100"
  >
    <h3>Login</h3>
    <div class="mb-3 from-group">
      <label for="email" class="form-label">{{ emailText }}</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="userLoginEmail"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 from-group">
      <label for="password" class="form-label">{{ PasswordText }}</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="userPasswordLogin"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-md btn-block Login__btn--signup">
      login
    </button>
  </form>
</div>
