<div class="row">
  <div class="col-md-4 border rounded shadow p-5 User__card">
    <img
      src="{{ userInfo.image }}"
      alt="{{ userInfo.name }}"
      class="rounded-circle"
    />
    <p class="text-center mb-0 mt-2">{{ userInfo.name }}</p>
    <p class="text-center">{{ userInfo.email }}</p>
  </div>
  <div class="col-md-7 offset-md-1 Url">
    <form
      [formGroup]="urlForm"
      (ngSubmit)="onSubmit()"
      class="border rounded shadow p-4 Url__form"
    >
      <div class="mb-3 from-group">
        <label for="urlToSave" class="form-label">{{
          urlToSaveLabel | titlecase
        }}</label>
        <input
          type="string"
          formControlName="urlToSave"
          class="form-control form-control-lg"
          id="urlToSave"
          aria-describedby="urlToSave"
        />
      </div>
      <div class="mb-3 from-group">
        <label for="urlName" class="form-label">{{
          urlNameLabel | titlecase
        }}</label>
        <input
          type="string"
          formControlName="urlName"
          class="form-control form-control-lg"
          id="urlname"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-sm Url__form--btn">
        {{ "add" | uppercase }}
      </button>
    </form>

    <ul class="list-group mt-5" *ngIf="links">
      <li *ngFor="let link of links " class="list-group-item border rounded shadow p-4 mb-3 User__url_card">
        <div class="User__url_card_header">
            <div class="User__url_card_header--title">{{ link.urlLink }}</div>
            <button class="btn User__url_card_header--delete" (click)="onDeleteLink(link.id)">
                <img src="../../../assets/img/linksTrash.png" alt="" srcset="">
            </button>
        </div>
        <div class="User__url_card_body--name">{{ link.linkName }}</div>
      </li>
    </ul>
  </div>
</div>
